@font-face {
  font-family: "sawmill";
  src:url("../fonts/sawmill.eot");
  src:url("../fonts/sawmill.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sawmill.woff") format("woff"),
    url("../fonts/sawmill.ttf") format("truetype"),
    url("../fonts/sawmill.svg#sawmill") format("svg");
  font-weight: normal;
  font-style: normal;

} 

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sawmill";
  font-style: normal;
  font-weight: normal;
}

.icon-01:before {
  content: "f";
}
.icon-14:before {
  content: "g";
}
.icon-15:before {
  content: "h";
}
.icon-02:before {
  content: "i";
}
.icon-03:before {
  content: "j";
}
.icon-04:before {
  content: "k";
}
.icon-05:before {
  content: "l";
}
.icon-07:before {
  content: "m";
}
.icon-06:before {
  content: "n";
}
.icon-08:before {
  content: "o";
}
.icon-09:before {
  content: "p";
}
.icon-10:before {
  content: "q";
}
.icon-11:before {
  content: "r";
}
.icon-12:before {
  content: "s";
}
.icon-13:before {
  content: "t";
}
.icon-map-marker:before {
  content: "u";
}
.icon-phone-1:before {
  content: "v";
}
